body{
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
    radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%);
}
*{
   padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.services{
        max-width: 1066px;
        min-height:373px;
        margin: auto;
        margin-top: 108px;
        border: 2px solid rebeccapurp;
    }
    
    .rec1 {
        display: flex;
        column-gap:30px;
    }
   
    
.boxa {
    width: 516px;
    height: 177px;
    border: 1px solid purp;
   margin-right:10px;
   margin: 20px;
   min-height: 50px;
   font-family: "Montserrat", sans-seri;
   font-family: Open Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.07px;
  text-align: justified;
}
.boxb {
    width: 483px;
    height: 178px;
    margin: 20px;
    min-height: fit-content;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 19.07px;
   text-align: justified;
}
 .boxc{
    width: 487px;
    height: 182px;
    margin: auto;
    font-family: "Montserrat", sans-seri;
    font-family: Open Sans;
   font-size: 14px;
   font-weight: 300;
   line-height: 19.07px;
   text-align: justified;
}
.para {
    padding-top: 15px;
    font-size: ;
    font-family: "Montserrate", sans-serif;
    
}

.img {
    width: 50%;
}
.first {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 40px;
}
    

.skill{
    width: 404px;
    height: 107px;
    font-family: "Montserrate", sans-serif;
    font-size: 30px;
    font-weight: 700px;
    text-align: center;
    border: 8px solid #000000;
    margin: auto;
    margin-top: 142px;
    padding: 30px;
line-height: 38.37px;
letter-spacing: 0.3554em;

}
.icon{
    
     text-align: center;
     margin-top: 40px;
     
}
.icon .card{
    align-content: center;
     width: 20em;
    height: 52px;
    border: 1px solid gree;
    display: inline-block;
    margin-right: 156px;
    margin-bottom: 80px;
    margin-top:100px;
    justify-content:center;
    margin-inline: 1px;
    font-family: "Montserrate", sans-serif;
}

.heading3 {
    text-align: left;
    margin-left: 165px;
    font-family: "Montserrate", sans-serif;
   margin-top: 100px;
   font-size: 30px;
   font-weight: 700;
    line-height: 36.57px;
   letter-spacing: 0.1854em;

}
.paracard {
font-family: Montserrat;
font-size: 24px;
font-weight: 400;
line-height: 29.26px;
letter-spacing: 0.1354em;
text-align: center;
padding-top: 5px;
}
